node_modules
__pycache__
*.pyc
test-images
maquettes/test.html
maquettes/img/avandeve.jpg
maquettes/img/jblaye.jpg
maquettes/img/jerperez.jpg
maquettes/img/nrea.jpg
maquettes/img/qgiraux.jpg
maquettes/Account management_maquette-super.html
maquettes/Account management_maquette-super_files/bootstrap.bundle.min.js
maquettes/Account management_maquette-super_files/bootstrap.min.css
maquettes/test_col.html
maquettes/tournaments.html
